@model IEnumerable<POC.ADONET.MODELS.LivrosMOD>

@{
    ViewBag.Title = "TodosLivros";
}

<h2>TodosLivros</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>     
        <th>
            Ações
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>            
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new { @class = "btn btn-info"}) 
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Excluir", "Excluir", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
