@model IEnumerable<Lab01Cap02.ADONet.Models.Tarefas>

@{
    ViewBag.Title = "ListaTarefas";
}

<div class="nova-tarefa">
    <a href="/Home/NovaTarefa"><span class="glyphicon glyphicon-plus"></span></a>
</div>

@if (TempData["SucessoExclusao"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SucessoExclusao"]
    </div>
}

@if (TempData["ErroExclusao"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErroExclusao"]
    </div>
}

    @foreach (var item in Model)
    {
        string cor = string.Empty;
        string textoTachado = string.Empty;
        var prioridade = (item.Prioridade).ToString();

        switch (prioridade)
        {
            case "1":
                cor = "#ff8c1f";
                break;
            case "2":
                cor = "#fffe1f";
                break;
            case "3":
                cor = "#a3ff1f";
                break;
        }

        if (item.Concluido)
        {
            textoTachado = "tarefa-concluida";
        }

        <div class="col-sm-4 col-md-3">
            <div class="box-tarefa" style="background-color: @cor">
                <div class="caption box-tarefa @textoTachado">
                    <h4><span>@Html.DisplayFor(modelItem => item.Concluido)</span> @Html.DisplayFor(modelItem => item.Nome)</h4>
                    <h5>Prioridade @Html.DisplayFor(modelItem => item.Prioridade)</h5>
                    <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                    <div class="botoes">
                        <a href="@Url.Action("EditarTarefa", new { id = item.Id })" class="btn btn-info" title="Editar tarefa"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("ExcluirTarefa", new { id = item.Id })" class="btn btn-danger" title="Deletar tarefa"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="@Url.Action("DetalheTarefa", new { id = item.Id })" class="btn btn-primary" title="Detalhes"><span class="glyphicon glyphicon-zoom-in"></span></a>
                        <a href="@Url.Action("ConcluirTarefa", new { id = item.Id })" class="btn btn-success" title="Marcar como concluída"><span class="glyphicon glyphicon glyphicon-ok"></span></a>
                    </div>
                </div>
            </div>
        </div>        
    }
